@page
@model SE1728_Group2_A2.Pages.Error._401Model
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>401 Error</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <img src="~/img/401.png" width="100%" />
</body>
</html>
