@page
@model SE1728_Group2_A2.Pages.Staffs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Update</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Staff.StaffId" />
            <div class="form-group mb-3 mt-3">
                <label asp-for="Staff.Name" class="control-label pb-2"></label>
                <input asp-for="Staff.Name" class="form-control"/>
                <span asp-validation-for="Staff.Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Staff.Password" class="control-label pb-2"></label>
                <input asp-for="@Model.Staff.Password" type="password" value="@Model.Staff.Password" class="form-control" />
                <span asp-validation-for="Staff.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
