@page
@model SE1728_Group2_A2.Pages.Orders.EditModel

@{
    ViewData["Title"] = "Edit";
    int maxOrderDetailsTotalPrice = Int32.MaxValue;
}

<h4>Edit Order</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div class="row">
                <label class="control-label bold-label">Product ID</label>
                <div class="form-group col-md-9">
                    <input class="form-control" id="txtProductId" type="text" value="" />
                </div>
                <div class="form-group col-md-3">
                    <button id="btnFind" class="form-control btn btn-outline-primary bold-label" type="button" onclick="findProduct()">Find</button>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label class="control-label bold-label">Product Name</label>
                    <input class="form-control" id="txtProductName" type="text" value="###" readonly />
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label bold-label">Price</label>
                    <input class="form-control" id="txtPrice" type="text" value="0" />
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label bold-label">Quantity</label>
                    <div class="input-group">
                        <span class="input-group-btn" style="margin-right: 15px">
                            <button id="btnDecrease" class="btn btn-warning squareBtn" type="button" onclick="decreaseQuantity()" disabled>-</button>
                        </span>
                        <input class="form-control" style="text-align: center;" id="txtQuantity" type="text" value="0" readonly />
                        <span class="input-group-btn" style="margin-left: 15px">
                            <button id="btnIncrease" class="btn btn-primary squareBtn" type="button" onclick="increaseQuantity()" disabled>+</button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label bold-label">Total Price</label>
                    <input class="form-control" id="txtTotalPrice" type="text" value="0" readonly />
                </div>
            </div>
            <div class="form-group mt-2">
                <button id="btnAdd" type="button" value="Add To List" class="form-control btn btn-outline-primary bold-label" onclick="addProductToList()" disabled>Add Product To List</button>
            </div>
        </form>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th style="text-align: center">Action</th>
                </tr>
            </thead>
            <tbody id="orderTableBody">
                <!-- Order details will be display here -->
            </tbody>
        </table>
    </div>
</div>
<h5 id="txtTotalOrder">Total: 0 VND</h5>

<hr class="mt-5" />
<div class="row">
    <div class="col-md-3">
        <form method="post" id="orderForm">
            <input type="hidden" id="orderDetailsInput" name="OrderDetailsJson" value=""/>
            <input type="hidden" asp-for="Order.OrderId" />
            <button id="btnSave" class="form-control btn btn-success" style="font-weight: bold;" type="submit" disabled>Save Order</button>
        </form>
    </div>
    <div class="col-md-6">
    </div>
    <div class="col-md-3">
        <a asp-page="Index" class="form-control btn btn-outline-danger">Cancel</a>
    </div>
</div>

<style>
    .squareBtn {
        width: 40px;
        font-weight: bold
    }

    .not-exist {
        font-style: italic;
        color: red;
    }

    .bold-label {
        font-weight: bold;
    }

    .button-group {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }
</style>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        let totalOrder = 0;
        let orderDetails = [];

        window.onload = function () {
            orderDetails = JSON.parse('@Html.Raw(Model.OrderDetailsJson)');
            console.log(orderDetails);
            if (orderDetails.length > 0) {
                document.getElementById("btnSave").disabled = false;
            }
            displayOrderDetails();
            console.log(maxOrderDetailsTotalPrice);
        };

        function getProductList() {
            return JSON.parse('@Html.Raw(ViewData["Products"])');
        }

        function findProduct() {
            const productId = document.getElementById("txtProductId").value;
            const products = getProductList();
            const foundProduct = products.find(product => product.ProductId == productId);

            if (foundProduct) {
                updateProductDetails(foundProduct);
                turnButton(true);
                changeReadOnly('#txtPrice', 'off')
                changeReadOnly('#txtQuantity', 'off')
            } else {
                resetVal();
                turnButton(false);
            }
        }

        function changeReadOnly(tag, mode) {
            var inputElement = document.querySelector(tag);
            if (mode === 'on') {
                inputElement.setAttribute('readonly', true);
            } else {
                inputElement.removeAttribute('readonly');
            }
        }

        document.getElementById('txtPrice').addEventListener('change', changePriceAndQuantityAction);
        document.getElementById('txtQuantity').addEventListener('change', changePriceAndQuantityAction);

        function changePriceAndQuantityAction() {
            const txtTotalPriceElement = document.getElementById("txtTotalPrice");
            var isContinueCalculate = true;
            const price = Number(document.getElementById("txtPrice").value);
            if (isNaN(price) || price < 1 || price > 2000000000) {
                txtTotalPriceElement.value = "Invalid price";
                txtTotalPriceElement.classList.add("not-exist");
                document.getElementById("btnAdd").disabled = true;
                isContinueCalculate = false;
            }

            const quantity = Number(document.getElementById("txtQuantity").value);
            if (isNaN(quantity) || quantity < 1) {
                txtTotalPriceElement.value = "Invalid quantity";
                txtTotalPriceElement.classList.add("not-exist");
                document.getElementById("btnAdd").disabled = true;
                isContinueCalculate = false;
            }

            if (isContinueCalculate) {
                txtTotalPriceElement.classList.remove("not-exist");
                document.getElementById("txtTotalPrice").value = price * quantity;
                document.getElementById("btnAdd").disabled = false;
            }
        }

        function updateProductDetails(product) {
            const productNameElement = document.getElementById("txtProductName");
            productNameElement.value = product.ProductName;
            productNameElement.classList.remove("not-exist");
            document.getElementById("txtPrice").value = product.UnitPrice;
            document.getElementById("txtQuantity").value = 1;
            document.getElementById("txtTotalPrice").value = product.UnitPrice;
        }

        function updateQuantity(increment) {
            const currentQuantity = Number(document.getElementById("txtQuantity").value);
            const newQuantity = currentQuantity + increment;
            const unitPrice = document.getElementById("txtPrice").value;

            document.getElementById("txtQuantity").value = newQuantity;
            document.getElementById("txtTotalPrice").value = unitPrice * newQuantity;
            document.getElementById("btnDecrease").disabled = newQuantity <= 1;
        }

        function increaseQuantity() {
            updateQuantity(1);
        }

        function decreaseQuantity() {
            if (Number(document.getElementById("txtQuantity").value) > 1) {
                updateQuantity(-1);
            }
        }

        function addProductToList() {
            const txtProductId = document.getElementById("txtProductId").value;
            const txtQuantity = parseInt(document.getElementById("txtQuantity").value, 10);
            const txtPrice = parseInt(document.getElementById("txtPrice").value, 10);
            const products = getProductList();
            const foundProduct = products.find(product => product.ProductId == txtProductId);
            const existingProduct = orderDetails.find(item => item.productId == txtProductId);

            if (existingProduct) {
                existingProduct.quantity += txtQuantity;
                existingProduct.unitPrice = txtPrice;
                existingProduct.totalPrice = existingProduct.quantity * txtPrice;
            } else {
                orderDetails.push({
                    productId: txtProductId,
                    productName: foundProduct.ProductName,
                    unitPrice: txtPrice,
                    quantity: txtQuantity,
                    totalPrice: txtQuantity * txtPrice
                });
            }

            document.getElementById('orderForm').addEventListener('submit', () => {
                document.getElementById('orderDetailsInput').value = JSON.stringify(orderDetails);
            });

            displayOrderDetails();
            resetValAfterAddToList();
        }

        function displayOrderDetails() {
            const orderTableBody = document.getElementById("orderTableBody");
            orderTableBody.innerHTML = "";
            totalOrder = 0;

            orderDetails.forEach((orderDetail, index) => {
                totalOrder += orderDetail.totalPrice;
                const row = document.createElement("tr");
                row.innerHTML = `
                                    <td>${index + 1}</td>
                                    <td>${orderDetail.productId}</td>
                                    <td>${orderDetail.productName}</td>
                                    <td>${getFormattedCurrency(orderDetail.unitPrice)}</td>
                                    <td>${orderDetail.quantity}</td>
                                    <td>${getFormattedCurrency(orderDetail.totalPrice)}</td>
                                    <td class="button-group">
                                        <button class="btn btn-outline-danger squareBtn" onclick="removeProduct(${index})">X</button>
                                        <button class="btn btn-outline-warning squareBtn" onclick="changeOrderQuantity(${index}, -1)">-</button>
                                        <button class="btn btn-outline-primary squareBtn" onclick="changeOrderQuantity(${index}, 1)">+</button>
                                    </td>
                                `;
                orderTableBody.appendChild(row);
            });
            document.getElementById('orderForm').addEventListener('submit', () => {
                document.getElementById('orderDetailsInput').value = JSON.stringify(orderDetails);
            });
            console.log("Saved json: " + document.getElementById('orderDetailsInput').value);
            document.getElementById("txtTotalOrder").innerText = "Total: " + getFormattedCurrency(totalOrder);
        }

        function changeOrderQuantity(index, change) {
            const orderDetail = orderDetails[index];
            const products = getProductList();
            const foundProduct = products.find(product => product.ProductId == orderDetail.productId);

            if (orderDetail.quantity + change > 0) {
                orderDetail.quantity += change;
                orderDetail.totalPrice = orderDetail.quantity * orderDetail.unitPrice;
                displayOrderDetails();
            }
        }

        function removeProduct(index) {
            orderDetails.splice(index, 1);
            document.getElementById("btnSave").disabled = orderDetails.length < 1;
            displayOrderDetails();
        }

        function resetVal() {
            const productNameElement = document.getElementById("txtProductName");
            productNameElement.value = "This product does not exist";
            productNameElement.classList.add("not-exist");
            document.getElementById("txtPrice").value = "0";
            document.getElementById("txtQuantity").value = "0";
            document.getElementById("txtTotalPrice").value = "0";
        }

        function resetValAfterAddToList() {
            const productNameElement = document.getElementById("txtProductName");
            productNameElement.value = "###";
            productNameElement.classList.remove("not-exist");
            document.getElementById("txtPrice").value = "0";
            document.getElementById("txtProductId").value = "";
            document.getElementById("txtQuantity").value = "0";
            document.getElementById("txtTotalPrice").value = "0";
            document.getElementById("btnSave").disabled = false;
            turnButton(false);
        }

        function turnButton(enable) {
            document.getElementById("btnIncrease").disabled = !enable;
            document.getElementById("btnAdd").disabled = !enable;
            document.getElementById("btnDecrease").disabled = !enable;
        }

        function getFormattedCurrency(amount) {
            const currencyUnit = "VND";
            const parts = String(amount).split(".");
            const integerPart = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            return parts.length === 1 ? `${integerPart} ${currencyUnit}` : `${integerPart}.${parts[1]} ${currencyUnit}`;
        }
    </script>

}